@charset "UTF-8";
:root {
  --accencolor: #f66d73;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content-align {
  width: 60%;
  margin: 0 auto;
}

.header {
  background-color: #41383b;
}
.header .support-sec {
  display: flex;
  place-content: space-between;
  color: rgba(226, 224, 224, 0.671);
}
.header .support-sec h4 {
  display: inline;
  font-size: 0.7em;
  padding: 1em auto;
}
.header .support-sec span {
  color: #9b4847;
}

.top-navbar {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 0.6em;
  font-weight: 500;
  place-content: space-evenly;
}
.top-navbar img {
  height: 70px;
}
.top-navbar .top-nav {
  margin: 0.1em auto;
  padding: 0.1em 0;
  text-align: center;
}
.top-navbar .top-nav h3 {
  margin-top: 2em;
  margin-bottom: 0.3em;
}
.top-navbar .top-nav li,
.top-navbar .top-nav li a {
  display: inline;
  padding: 0.3em 0;
  margin: 0.2em 0.3em;
  margin-bottom: 1.5em;
  color: var(--accencolor);
}
.top-navbar .search {
  margin-top: 2.5em;
}
.top-navbar .search input {
  margin-right: 0;
  padding-right: 0;
  border: 0;
}
.top-navbar .search input[placeholder] {
  text-align: right;
}
.top-navbar .search form .menu {
  display: none;
}
.top-navbar .search button {
  height: 3em;
  width: 3em;
  margin-left: 0;
  padding-left: 0;
  border: 0;
  background: var(--accencolor);
  color: white;
  border-radius: 0.3em;
  text-align: center;
}

ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
}

.section-navbar {
  display: flex;
  font-size: 0.7em;
  border-top: solid 0.1em black;
  border-bottom: solid 0.1em black;
}
.section-navbar ul {
  margin: 0.2em 0.1em;
  padding-left: 0.7em;
}
.section-navbar ul.main-nav li + li::before {
  color: black;
  content: "|    ";
}
.section-navbar li,
.section-navbar li a {
  display: inline-block;
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin: 0.1em;
  color: black;
}
.section-navbar li i,
.section-navbar li a i {
  color: var(--accencolor);
}

ul.top-nav li + li::before {
  color: var(--accencolor);
  content: "|    ";
}

.imgs-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  margin-top: 1em;
}
.imgs-container .grid-item {
  text-align: center;
}
.imgs-container .main-img img {
  width: 100%;
}
.imgs-container .side-imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imgs-container .side-imgs div:nth-child(2) {
  background: linear-gradient(rgba(207, 198, 192, 0.3), rgb(207, 198, 192));
}
.imgs-container .side-imgs div:nth-child(2) .heading {
  color: var(--accencolor);
}
.imgs-container .side-imgs div {
  text-align: left;
  display: inline;
  background: linear-gradient(rgba(68, 63, 65, 0.7), rgb(68, 63, 65));
}
.imgs-container .side-imgs div img {
  width: 35%;
  float: left;
}
.imgs-container .side-imgs div label {
  margin-left: 12px;
}
.imgs-container .side-imgs div span {
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.imgs-container .side-imgs div span .heading {
  font-size: 0.9em;
  color: white;
  font-weight: 100;
}
.imgs-container .side-imgs div span :nth-child(1) {
  margin-top: 10px;
}

.cards {
  padding: 0;
  margin: 4em 0;
  display: flex;
  justify-content: space-between;
}
.cards i.fa {
  cursor: pointer;
}
.cards li:nth-child(1),
.cards li:nth-last-child(1) {
  align-self: center;
}
.cards .card {
  height: 22rem;
  width: 12rem;
  text-align: center;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}
.cards .card img {
  width: 100%;
  align-self: center;
}
.cards .card div {
  text-transform: uppercase;
  text-align: start;
}
.cards .card div p:nth-child(2) {
  color: var(--accencolor);
}
.cards .hidden-card {
  display: none;
}

.fabric-types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;
  align-content: center;
}
.fabric-types .fcard {
  border: 1px solid rgb(222, 222, 222);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: flex-start;
}
.fabric-types .fcard img {
  width: 80%;
  align-self: center;
}
.fabric-types .fcard .fcard-body {
  align-self: flex-center;
  background-color: rgb(222, 222, 222);
}
.fabric-types .fcard .fcard-body ul {
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 0.1em;
       column-gap: 0.1em;
}

.footer .newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer .newsletter .first-part {
  background: var(--accencolor);
  display: flex;
  justify-content: flex-start;
}
.footer .newsletter .first-part * {
  padding: 0 0.6em;
  color: white;
}
.footer .newsletter .second-part {
  display: flex;
  background: lightgray;
  text-align: center;
}
.footer .newsletter .second-part .triangle {
  border-top: 28px solid transparent;
  border-bottom: 28px solid transparent;
  border-left: 28px var(--accencolor) solid;
  margin-right: 5em;
}
.footer .info {
  margin-top: 5em;
  display: flex;
  gap: 5em;
  align-content: flex-start;
}
.footer .info ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer .info ul li:nth-child(1) {
  font-weight: 900;
  margin: 0.2em auto;
}
.footer .info ul i {
  font-size: 1em;
  margin: 0 0.5em;
}

@media (max-width: 2000px) {
  .fabric-types {
    grid-template-columns: repeat(4, 1fr);
  }
  input {
    display: none;
  }
}
@media (max-width: 1600px) {
  .content-align {
    width: 80%;
  }
  .fabric-types {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .top-nav img {
    width: 50px;
  }
}
@media (max-width: 900px) {
  .top-navbar {
    place-content: space-between;
  }
  .top-navbar .search form .menu {
    display: inline;
  }
  .section-navbar,
  .top-nav {
    display: none;
  }
  .fabric-types {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .imgs-container {
    grid-template-columns: 1fr;
  }
  .imgs-container .side-imgs {
    flex-direction: row;
    gap: 10px;
  }
  .content-align {
    width: 80%;
  }
}
@media (max-width: 420px) {
  .top-nav {
    display: none;
  }
  .content-align {
    width: 100%;
    margin: 0 0;
  }
  .fabric-types {
    grid-template-columns: 1fr;
  }
  .imgs-container {
    grid-template-columns: 1fr;
  }
  .imgs-container .side-imgs {
    flex-direction: column;
    gap: 10px;
  }
}/*# sourceMappingURL=main.css.map */