@charset "UTF-8";
:root {
  --accencolor: #f66d73;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content-align {
  width: 60%;
  margin: 0 auto;
}

.header {
  background-color: #41383b;
}
.header .support-sec {
  display: flex;
  place-content: space-between;
  color: rgba(226, 224, 224, 0.671);
}
.header .support-sec h4 {
  display: inline;
  font-size: 0.7em;
  padding: 1em auto;
}
.header .support-sec span {
  color: #9b4847;
}

.top-navbar {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 0.6em;
  font-weight: 500;
  place-content: space-between;
}
.top-navbar img {
  height: 70px;
}
.top-navbar .top-nav {
  margin: 0.1em auto;
  padding: 0.1em auto;
  text-align: center;
}
.top-navbar .top-nav h3 {
  margin-top: 2em;
  margin-bottom: 0.3em;
}
.top-navbar .top-nav li, .top-navbar .top-nav li a {
  display: inline;
  padding: 0.3em 0;
  margin: 0.2em 0.3em;
  margin-bottom: 1.5em;
  color: var(--accencolor);
}
.top-navbar .search {
  margin-top: 2.5em;
}
.top-navbar .search input {
  margin-right: 0;
  padding-right: 0;
  border: 0;
}
.top-navbar .search input[placeholder] {
  text-align: right;
}
.top-navbar .search button {
  height: 3em;
  width: 3em;
  margin-left: 0;
  padding-left: 0;
  border: 0;
  background: var(--accencolor);
  color: white;
  border-radius: 0.3em;
  text-align: center;
}

ul {
  list-style-type: none;
}
ul a {
  text-decoration: none;
}

.section-navbar {
  display: flex;
  font-size: 0.7em;
  border-top: solid 0.1em black;
  border-bottom: solid 0.1em black;
}
.section-navbar ul {
  margin: 0.2em 0.1em;
  padding-left: 0.7em;
}
.section-navbar ul.main-nav li + li::before {
  color: black;
  content: "|    ";
}
.section-navbar li, .section-navbar li a {
  display: inline-block;
  padding: 0.3em 0.3em 0.3em 0.3em;
  margin: 0.1em;
  color: black;
}
.section-navbar li i, .section-navbar li a i {
  color: var(--accencolor);
}

ul.top-nav li + li::before {
  color: var(--accencolor);
  content: "|    ";
}

.imgs-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1em;
  margin-top: 1em;
}
.imgs-container .grid-item {
  text-align: center;
}
.imgs-container .main-img img {
  width: 100%;
}
.imgs-container .side-imgs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.imgs-container .side-imgs div:nth-child(2) {
  background-image: linear-gradient(rgba(207, 198, 192, 0.3), rgb(207, 198, 192));
}
.imgs-container .side-imgs div:nth-child(2) .heading {
  color: var(--accencolor);
}
.imgs-container .side-imgs div {
  text-align: left;
  display: inline;
  background-image: linear-gradient(rgba(68, 63, 65, 0.7), rgb(68, 63, 65));
}
.imgs-container .side-imgs div img {
  width: 35%;
  float: left;
}
.imgs-container .side-imgs div label {
  margin-left: 12px;
}
.imgs-container .side-imgs div span {
  font-size: 0.7em;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
}
.imgs-container .side-imgs div span label:nth-child(1) {
  margin-top: 2em;
}
.imgs-container .side-imgs div span .heading {
  font-size: 1.2em;
  color: white;
  font-weight: 100;
}

.cards {
  padding: 0;
  margin: 4em 0;
  display: flex;
  justify-content: space-between;
}
.cards i.fa {
  cursor: pointer;
}
.cards #c1 {
  order: 1;
}
.cards #c2 {
  order: 2;
}
.cards #c3 {
  order: 3;
}
.cards #c4 {
  order: 4;
}
.cards #c5 {
  order: 5;
}
.cards #c6 {
  order: 6;
}
.cards #c5, .cards #c6 {
  display: none;
}
.cards li:nth-child(1), .cards li:nth-last-child(1) {
  align-self: center;
}
.cards .card {
  height: 22rem;
  width: 12rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
}
.cards .card img {
  width: 100%;
  align-self: center;
}
.cards .card div {
  text-transform: uppercase;
  text-align: start;
}
.cards .card div p:nth-child(2) {
  color: var(--accencolor);
}/*# sourceMappingURL=main.css.map */